body {
  margin-top: 80px;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}

.list {
  position: relative;
}

.floating-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-icon-container {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
}

.list:hover > .floating-icon-container {
  opacity: 1;
}

.edit-icon-container {
  top: 50%;
  left: 100%;
  transform: translate(-240%, -50%);
  transition: 0.3s;
}

.delete-icon-container {
  top: 50%;
  left: 100%;
  transform: translate(-120%, -50%);
  transition: 0.3s;
}

.delete-icon-container:hover {
  background-color: #e50000;
  color: white;
}

.edit-icon-container:hover {
  background-color: #1919ff;
  color: white;
}

.shadow {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.material-floating-btn {
  background: #03A9F4;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
  font-size: 2.6667em;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.no-transaction {
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

